<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/banner') %>

    <div class="hero">
        <div class="hero-content">
            <div class="hero-page-summary">
                <h2 class="page-summary">
                    Tech articles
                    Learning tips
                    ... and more
                </h2>
            </div>
            <div class="author-section">
                <img class="author-picture" src="/images/author.jpeg">
                <h4 class="author-summary-title">Meet the Author</h4>
                <p class="author-summary">Luisa Lopes is a Brazilian Computer Scientist, polyglot, bookworm, writer and many other things. She also does not understand why she's writing about herself in third person.</p>
            </div>
        </div>
    </div>

    <hr>

    <main>
        <div class="new-article">
            <button type="button" id="new-article"><i class="fa-solid fa-plus fa-lg"></i></button>
        </div>

        <dialog>
            <form>
                <div class="writing-modal-container">
                    <div class="writing-modal-content">
                        <div class="modal-article-title"><input type="text" id="input-title" placeholder="Title"></input></div>
                        <div class="modal-article-content"><textarea id="input-content" placeholder="Content"></textarea></div>
                        <div class="modal-buttons">
                            <button type="submit" class="publish"><i class="fa-solid fa-upload fa-lg fa-fw"></i></button>
                            <button type="submit" class="save"><i class="fa-solid fa-floppy-disk fa-lg fa-fw"></i></button>
                            <button type="submit" class="delete"><i class="fa-solid fa-trash fa-lg fa-fw"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </dialog>
        
        <div class="article-section">
            <%- include('partials/article-summary') %>
            <%- include('partials/article-summary') %>
            <%- include('partials/article-summary') %>
        </div>

        <div class="options">
            <button type="button" id="previous">Previous</button>
            <button type="button" id="next">Next</button>
        </div>
    </main>

    <%- include('partials/footer') %>

    <script>
        /*
            HOW TO MAKE A SIMPLE CRUD:
                1. Add a simple edit modal. You may change it in the future for the prototype's writing page
                2. DOM Manipulation in order to add the input to the page in order
                3. DOM Manipulation in order to remove the input 
                4. DOM Manipulation in order to edit the input

            Afterwards, you learn how to make it so that every change to the web document gets sent to a MongoDB database
        */
        const $modal = document.querySelector("dialog");
        const $form = document.querySelector("form");

        const $newArticleButton = document.getElementById("new-article");

        const $editButtons = document.getElementsByClassName("edit");
        const $publishButtons = document.getElementsByClassName("publish");
        const $saveButtons = document.getElementsByClassName("save");
        const $deleteButtons = document.getElementsByClassName("delete");

        $newArticleButton.onclick = () => {
            $modal.showModal();
        };

        $modal.addEventListener("click", e => {
            const dialogDimensions = $modal.getBoundingClientRect();
            if (
                e.clientX < dialogDimensions.left ||
                e.clientX > dialogDimensions.right ||
                e.clientY < dialogDimensions.top ||
                e.clientY > dialogDimensions.bottom
            ) {
                $modal.close();
            }
        })

        $form.addEventListener("submit", function newArticleController(e) {
            e.preventDefault();

            const $articleSection = document.querySelector(".article-section");
            const $inputTitle = document.getElementById("input-title");
            const $inputContent = document.getElementById("input-content");

            const newArticle = `
                <div class="article-summary">
                    <h3>${$inputTitle.value}</h3>
                    <p>${$inputContent.value}</p>
                    <button class="delete"><i class="fa-solid fa-delete-left fa-lg fa-fw"></i></button>
                    <button class="edit"><i class="fa-solid fa-pen-to-square fa-lg fa-fw"></i></button>
                </div>
                
            `;

            $articleSection.insertAdjacentHTML("afterbegin", newArticle);

            $inputTitle.value = "";
            $inputContent.value = "";

            $modal.close();
        });


        for (let button of $editButtons) {
            button.onclick = () => {
                $modal.showModal();
            }
        }

        for (let button of $publishButtons) {
            button.onclick = () => {
                $modal.close();
                addNewArticle();
            }
        }

        for (let button of $saveButtons) {
            button.onclick = () => {
                $modal.close();
            }
        }

        for (let button of $deleteButtons) {
            button.onclick = () => {
                $modal.close();
            }
        }
    </script>
</body>
</html>