<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/banner') %>

    <div class="hero">
        <div class="hero-content">
            <div class="hero-page-summary">
                <h2 class="page-summary">
                    Tech articles
                    Learning tips
                    ... and more
                </h2>
            </div>
            <div class="author-section">
                <img class="author-picture" src="/images/author.jpeg">
                <h4 class="author-summary-title">Meet the Author</h4>
                <p class="author-summary">Luisa Lopes is a Brazilian Computer Scientist, polyglot, bookworm, writer and many other things. She also does not understand why she's writing about herself in third person.</p>
            </div>
        </div>
    </div>

    <hr>

    <main>
        <div class="new-article">
            <button type="button" id="new-article"><i class="fa-solid fa-plus fa-lg"></i></button>
        </div>

        <dialog id="page-dialog">
            <form>
                <div class="writing-modal-container">
                    <div class="writing-modal-content">
                        <div class="modal-article-title"><input type="text" id="input-title" placeholder="Title"></input></div>
                        <div class="modal-article-content"><textarea id="input-content" placeholder="Content"></textarea></div>
                        <div class="modal-buttons">
                            <button type="submit" class="publish"><i class="fa-solid fa-upload fa-lg fa-fw"></i></button>
                            <button type="submit" class="save"><i class="fa-solid fa-floppy-disk fa-lg fa-fw"></i></button>
                            <button type="submit" class="delete"><i class="fa-solid fa-trash fa-lg fa-fw"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </dialog>
        
        <div id="article-section">

            <% data.forEach(post => { %>
                <article>
                    <div class="article-title"><h4><%= post.title %></h4></div>
                    <div class="article-content"><p><%= post.content %></p></div>
                    <div class="buttons">
                        <button type="button" class="delete"><i class="fa-solid fa-delete-left fa-lg fa-fw"></i></button>
                        <button type="button" class="edit"><i class="fa-solid fa-pen-to-square fa-lg fa-fw"></i></button>
                    </div>
                </article>
            <% }) %>

            <% if (nextPage !== null) { %>  
                <div id="options">
                    <button type="button" id="previous">Previous</button>
                    <button type="button" id="next">Next</button>
                </div>
            <% } %>
        </div>
    </main>

    <%- include('partials/footer') %>

<script>
    const $modal = document.querySelector("dialog");
    const $form = document.querySelector("form");

    const $newArticleButton = document.getElementById("new-article");
    const $articleSection = document.getElementById("article-section");
    const $optionsSection = document.getElementById("options");
    const $warningMessage = $articleSection.querySelector("span");  

    let existingArticles = 0;
    let isEditing;

    // The number of existing articles must be checked multiple times
    // throughout the program. Therefore, you need a function
    function updateWarningMessage() {
        const $span = $articleSection.querySelector("span");
        const dataFromDatabase = <%- JSON.stringify(data) %>;

        if (existingArticles > 0 || dataFromDatabase.length > 0) {
            $span.remove();  
        } else {
            const $newSpan = document.createElement("span"); 
            $newSpan.innerHTML = "<h4>We currently have no articles. Consider writing a new one! ✍🏽</h4>";
            $optionsSection.insertAdjacentElement("beforebegin", $newSpan);
        }
    }

    // Runs updateWarningMessage each time the page
    // detects a change in the document
    document.addEventListener("change", (e) => {
        updateWarningMessage();  
    });

    $newArticleButton.onclick = () => {
        isEditing = false;

        document.getElementById("input-title").value = "";
        document.getElementById("input-content").value = "";
        $modal.showModal();
    };

    // Close modal when clicking outside its bounds
    $modal.addEventListener("click", e => {
        const dialogDimensions = $modal.getBoundingClientRect();
        if (
            e.clientX < dialogDimensions.left ||
            e.clientX > dialogDimensions.right ||
            e.clientY < dialogDimensions.top ||
            e.clientY > dialogDimensions.bottom
        ) {
            $modal.close();
        }   
    });

    $form.addEventListener("submit", function newArticleController(e) {
        e.preventDefault();

        const $inputTitle = document.getElementById("input-title");
        const $inputContent = document.getElementById("input-content");

        if ($inputTitle.value && $inputContent.value) {
            const newArticle = `
                <article>
                    <div class="article-title"><h4>${$inputTitle.value}</h4></div>
                    <div class="article-content"><p>${$inputContent.value}</p></div>
                    <div class="buttons">
                        <button type="button" class="delete"><i class="fa-solid fa-delete-left fa-lg fa-fw"></i></button>
                        <button type="button" class="edit"><i class="fa-solid fa-pen-to-square fa-lg fa-fw"></i></button>
                    </div>
                </article>`;

            if (!isEditing) {
                existingArticles = existingArticles + 1;
                $articleSection.insertAdjacentHTML("afterbegin", newArticle);
            } else {
                const $article = document.querySelector("article");
                $article.innerHTML = newArticle;
            }

            $inputTitle.value = "";
            $inputContent.value = "";

            $modal.close();
            updateWarningMessage();  
        }
    });

    $articleSection.addEventListener("click", (e) => {
        if (!e.target.classList.contains("new-article")) {
            isEditing = true;

            const $article = e.target.closest("article");

            if ($article) {
                const $title = $article.querySelector(".article-title h4").innerText;
                const $content = $article.querySelector(".article-content p").innerText;

                document.getElementById("input-title").value = $title;
                document.getElementById("input-content").value = $content;

                $modal.showModal();
            }
        }

        if (e.target.closest('.delete')) {
            const $article = e.target.closest("article");
            $article.remove();

            existingArticles = existingArticles - 1;

            $modal.close();
            updateWarningMessage();  
        }
    });

    updateWarningMessage();
</script>
</body>
</html>