<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/banner') %>

    <div class="hero">
        <div class="hero-content">
            <div class="hero-page-summary">
                <h2 class="page-summary">
                    Tech articles
                    Learning tips
                    ... and more
                </h2>
            </div>
            <div class="author-section">
                <img class="author-picture" src="/images/author.jpeg">
                <h4 class="author-summary-title">Meet the Author</h4>
                <p class="author-summary">Luisa Lopes is a Brazilian Computer Scientist, polyglot, bookworm, writer and many other things. She also does not understand why she's writing about herself in third person.</p>
            </div>
        </div>
    </div>

    <hr>

    <main>
        <div class="new-article">
            <button type="button" id="new-article"><i class="fa-solid fa-plus fa-lg"></i></button>
        </div>
        
        <div class="article-section">
            <%- include('partials/article-summary') %>
            <%- include('partials/article-summary') %>
            <%- include('partials/article-summary') %>
        </div>
    </main>

    <%- include('partials/footer') %>
</body>
</html>